/*all*/
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
body{
	min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
ul{list-style:none;}
a{
  color: #000;
  text-decoration: none;
}

a:hover, .active{
  text-decoration: underline;
}

a:active, a:focus,input:active, input:focus{outline:0;}
img{width: 100%;
            height: auto;}
/* 画面外にいる状態 */
.fadein {
    opacity : 0.1;
    transform : translate(0, 50px);
    transition : all 500ms;
    }

/* 画面内に入った状態 */
.fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
    }
/* #sec01 */
/* #sec02 */
th{
  font-weight: bold;
  font-size: 1.1em;
  width: 10vw;
}
td{
  font-size: 1em;
}
.table1 {
  border-collapse: collapse;
  margin: 10% auto;
}
th,td {  
  padding: 8px;
}
.br-sp {
    display: none;
}/* brをしない */

/* PC */
@media only screen and (min-width: 800px){
    body{
        font-size:14px;
    }
  a#menu{
        display:none;
    }   
    .panel{
        display:block !important;
    }
    #mainnav{
        position:fixed;
        top: 0;
        width:100%;
        z-index:500;
    }
    #mainnav ul{
        text-align: right;
        padding-right: 30px;
    }
    #mainnav li{
        display: inline-block;
        padding: 45px 10px 20px;
        font-size: 14px;
        font-weight: 300;
    }
  #mainnav a{
        color: #000;
    }
    #mainnav.changeNav{
        background: rgba(255,255,255,.9);
        border-bottom: 1px solid #d1d1d1;
    }
    #mainnav.changeNav li{
        padding: 20px 10px;
    }

/* #sec01 pc */
 #sec01  img{
    width:80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
   }
#sec01{
    padding-top: 10%;
}
/* #sec02 */
   th{
    vertical-align:top;
   }
   table{
    width: 90%;
    margin: 0 auto;
   }
}


/* mobile */
@media only screen and (max-width: 799px){
  a#menu{
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 10px;
    }
    #menuBtn{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 2px;
    margin: -1px 0 0 -7px;
    background: #000;
    transition: .2s;
    }
    #menuBtn:before, #menuBtn:after{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 18px;
    height: 2px;
    background: #000;
    transition: .3s;
    }
    #menuBtn:before{
    margin-top: -7px;
    }
    #menuBtn:after{
    margin-top: 5px;
    }
    a#menu .close{
    background: transparent;
    }
    a#menu .close:before, a#menu .close:after{
    margin-top: 0;
    }
    a#menu .close:before{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    }
    a#menu .close:after{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    }
    .panel{
        width: 100%;
        display: none;
        overflow: hidden;
        position: relative;
        left: 0;
        top: 0;
        z-index: 100;
    }
    #mainnav{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        text-align: right;
        z-index:500;
    }
    #mainnav ul{
        border-bottom: 1px solid #ccc;
        background: #fff;
        text-align: left;
    }
    #mainnav li a{
        position: relative;
        display:block;
        padding:15px 25px;
        border-bottom: 1px solid #ccc;
        color: #000;
        font-weight: 400;
    }
    #mainnav li a:before{
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        left: 5px;
        width: 6px;
        height: 6px;
        margin: -4px 0 0 0;
        border-top: solid 2px #000;
        border-right: solid 2px #000;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
/* #sec01 mobile */
    img{width: 95vw;
        margin-top: 10%;
        margin: 0 auto;
    }
#sec01{
    padding-top: 15%;
}
/* #sec02 mobile */
#sec02{
    padding-bottom: 40%;
}
    table{
      width: 100%;
    }
    tr,th,td{
      display: block;
      width: auto;
    }
    th{
      background-color:#EEEEEE;
    }
    th,td{
      border-top: none;
    }
    td{
    margin: 2% 0;
   }
   .br-sp {
    display: block;
   }/* brを適用 */
}